/*Extra small devices (portrait phones, less than 576px) */

@media only screen and (max-width: 400px) {
  html {
    font-size: .55rem;
  }
  .card-block {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (min-width: 400px) and (max-width: 767px) {
  html {
    font-size: .8rem
  }
  .card-block {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 1rem
  }
}

/* Large devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  html {
    font-size: 1.5rem
  }
}

/* social icon */

@media only screen and (max-width: 576px) {
  .social {
    font-size: 2rem;
  }
  .icon {
    padding: 2vw;
    width: 10vw;
    text-decoration: none;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 670px) {
  .social {
    font-size: 1.2rem;
  }
  .icon {
    padding: 1vw;
    width: 5vw;
    text-decoration: none;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 670px) {
  .social {
    font-size: 1.2rem;
  }
  .icon {
    padding: .8vw;
    width: 4vw;
    text-decoration: none;
    border-radius: 50%;
  }
}
